<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-header>Squats</ion-header>
    <p>Set # {{this.squat_set}}</p>
    <p>Time Elapsed: {{ this.squat_time }}</p>
    <p>Average Time per Set: {{this.avg_squat_time}}</p>
    <ion-button [disabled]= "squat_timer_disabled" (click) = squatTimer()>Start Set {{this.squat_set + 1}}</ion-button>
    <ion-button [disabled]= "squat_end_disabled" (click) = endSquatTimer()>End Set {{this.squat_set}} </ion-button>
    <ion-button (click) = clearSquatTimer()> Clear </ion-button>
  </div>
  
</ion-content>
